<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="chat" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
    <link rel="apple-touch-startup-image" href="/icon/launch.png" />
    <title>chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div id="app-container">
        <form id="room-container" action="/room" method="POST" class="box">
            <input name="name" type="text" placeholder="Name" class="box" required>
            <input name="room" type="text" placeholder="Room Name" class="box" value="<%= room %>" required>
            <% if (!room) { %>
                <button type="submit" name="action" value="create" class="box">Create Room</button>
            <% } %>
            <button type="submit" name="action" value="join" class="box"> Join Room</button>
        </form>
    </div>
</body>

</html>