<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="chat" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
    <link rel="apple-touch-startup-image" href="/icon/launch.png" />
    <title>chat</title>
    <script>
        const roomName = "<%= roomName %>"
        const name = "<%= name %>"
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div id="app-container">
        <div>
            <div id="room-details" class="box"><span id="room-title">Room</span>: <%= roomName %></div>
            <div id="users-container" class="box">
            </div>
        </div>
        <div id="chat-container">
            <div id="message-container" class="box"></div>
            <form id="send-container" class="box">
                <input type="text" id="message-input" placeholder="Type your message...">
                <button type="submit" id="send-button">Send</button>
            </form>
        </div>
    </div>
</body>

</html>